<div class="grid grid-cols-2 gap-5">
    <app-card-button price="40" bgColor="#B71C1C" (onButtonClick)="handleButtonClick($event)" [currency]="currency"></app-card-button>
    <app-card-button price="60" bgColor="#E5E5E5" (onButtonClick)="handleButtonClick($event)" [currency]="currency"></app-card-button>
    <app-card-button price="80" bgColor="#F2BA29" (onButtonClick)="handleButtonClick($event)" [currency]="currency"></app-card-button>
    <app-card-button price="120" bgColor="#17171C" (onButtonClick)="handleButtonClick($event)" [currency]="currency"></app-card-button>
</div>
