<div class="flex flex-col text-center gap-1 my-2">
  <div>
    <h3 class="text-3xl font-bold align-middle inline-block">
      <button class="btn btn-xs btn-error mr-3" (click)="handleResetCounter()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"
          />
        </svg>
      </button>
      <span class="align-middle inline-block"> Total Price</span>
      <span class="badge badge-primary align-middle inline-block ml-3"
        >{{ totalPlate }} plate(s)</span
      >
    </h3>
  </div>
  <div class="flex flex-row justify-center items-center">
    <h2 class="text-5xl md:text-9xl">{{ totalPrice }} {{ currency }}</h2>
  </div>
</div>
